 h1,h2 {
 	font-family: Modern;
 	color: #0040FF;
 }

label {
 	font-family: Modern;
 	color: #000000;
 	font-weight: bold;
}

input {
	border-radius: 10px;
	border-color: Black;
}

.fields {
    
    font-family: Modern;
	border: solid 1px;
	border-radius: 8px;
	border-color: Grey;
	padding: 7px;

}

button {
	font-family: Modern;
	color: #000000;
	border-radius: 8px;
	border: solid 1px;
	border-color: Black;
	padding: 12px;
	background-color: #696969;
}

body {

	font-family: Modern;
	margin-left: 500px;
	background: #DCDCDC;
	line-height: 29px;
}
.lol {

	font-family: Modern;
	border: solid 1px;
	border-radius: 8px;
	border-color: Grey;
	padding: 7px;
}